html{font-family:Arial, Helvetica, sans-serif;text-align:center}
h1{font-size:1.8rem;color:white}
h2{font-size:1.5rem;font-weight:bold;color:#143642}
.topnav{background-color:#333;overflow:hidden}
.topnav a{float:left;color:#f2f2f2;text-align:center;padding:14px 16px;text-decoration:none;font-size:17px}
.topnav a:hover{background-color:#ddd;color:black}
.topnav a.active{background-color:#04AA6D;color:white}
.nowrap{white-space:nowrap}